.form {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    
    height: 3.25rem;
    margin-top: calc(0px - 1.6875rem);
}

.form > input {
    width: 39.875rem;
    padding: 1rem;

    background: #262626;
    color: #808080;
    border: 1px solid #0D0D0D;
    border-radius: 0.5rem;
}

.form input:focus {
    outline:none;
}

.form > button {
    display: flex;
    justify-content: center;
    gap: 0.25rem;

    font-size: 0.875rem;
    font-weight: 700;

    width: 5.625rem;
    padding: 1rem;

    background: #1E6F9F;
    color: white;

    border: 0;
    border-radius: 0.5rem;
}