.todo {
  height: 4.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--gray-400);

  display: flex;
  gap: 0.75rem;
  
}

.uncheckedTodo {
  color: var(--blue);
}

.checkedTodo {
  color: var(--white);
  opacity: 0.9;
}

.todo .normalTitle {
  max-width: 39.5rem;
  font-size: 0.875rem;
  color: var(--gray-100);
}

.todo .fadedTitle {
  max-width: 39.5rem;
  font-size: 0.875rem;
  color: var(--gray-300);
  text-decoration: line-through;
}