.todo {
  height: 4.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--gray-400);

  display: flex;
  gap: 0.75rem;
  margin-bottom: 0.75rem;
  
}

.uncheckedTodo {
  color: var(--blue);
}

.checkedTodo {
  color: var(--white);
  opacity: 0.9;
}

.todo .normalTitle {
  word-wrap:break-word;
  width: 39.5rem;
  font-size: 0.875rem;
  color: var(--gray-100);

  overflow: hidden;
  text-overflow: ellipsis;
}

.todo .fadedTitle {
  word-wrap:break-word;
  height: 2.5rem;
  width: 39.5rem;
  font-size: 0.875rem;
  color: var(--gray-300);
  text-decoration: line-through;
}

.todo button {
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  border: 0;
  cursor: pointer;
}