.form {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    
    height: 3.25rem;
    margin-top: calc(0px - 1.6875rem);
}

.form > input {
    width: 39.875rem;
    padding: 1rem;

    background: var(--gray-500);
    color: var(--gray-300);
    border: 1px solid var(--gray-700);
    border-radius: 0.5rem;
}

.form input:focus {
    outline:none;
}

.form > button {
    display: flex;
    justify-content: center;
    gap: 0.25rem;

    font-size: 0.875rem;
    font-weight: 700;

    width: 5.625rem;
    padding: 1rem;

    cursor: pointer;

    background: var(--blue-dark);
    color: white;

    border: 0;
    border-radius: 0.5rem;
}