.mainContent {
  width: 46rem;
  margin: 0 auto;
}

.createdAndFinishedTodos {
    display: flex;
    justify-content: space-between;

    margin-top: 4rem;
}

.createdAndFinishedTodos .createdTasks {
    color: var(--blue);
}

.createdAndFinishedTodos .finishedTasks {
    color: var(--purple);
}