.mainContent {
  width: 46rem;
  margin: 0 auto;
}

.createdAndFinishedTodos {
    display: flex;
    justify-content: space-between;

    margin-top: 4rem;
}

.createdAndFinishedTodos .createdTasks {
    font-size: 0.875rem;
    color: var(--blue);
}

.counter {
    background: var(--gray-400);
    color: var(--white);
    border-radius: 62.4375rem;
    padding: 0.125rem 0.5rem;
    font-size: 0.75rem;
}

.createdAndFinishedTodos .finishedTasks {
    color: var(--purple);
    font-size: 0.875rem;
}

.todos {
    margin-top: 1.5rem;
    border-top: 0.0625rem solid var(--gray-400);
    border-radius: 0.5rem;
}

@media(max-width: 768px) {
    html {
        font-size: 87.5%;
    }
}

@media(max-width: 676px) {
    html {
        font-size: 73%;
    }
}