:root {
  --gray-700: #0D0D0D;
  --gray-500: #262626;
  --gray-400: #333333;
  --gray-300: #808080;
  
  --blue: #4EA8DE;
  --blue-dark: #1E6F9F;

  --purple: #8284FA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1A1A1A;;
  color: #808080;
  -webkit-font-smoothing: antialiased;
}